.article {
    display: grid;
    grid-template-areas:
          "head aside"
          "para aside";
    padding: 1em;
    margin-top: 2em;
    font-family: "JejuMyeongjo";
    background: #B4CCD6;
    width: 100%;
    border: none;
}
h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1, p{
    text-align: start;
}

img{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #B4CCD6;
}

.cont{
    background: transparent;
}

.titleDescription{
    background: transparent;
}