.App {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: white;
}

.ads {
    width: 5vw;
    background: white;
}

.content {
    width: 100vw;
    background: white;
}

.content img{
    all: revert;
}

@media (min-width: 576px) {
    .ads {
        width: 20vw;
    }

    .content {
        width: 60vw;
    }

    .content img{
        height: 0;
    }
}

h1, p{
    grid-column: 2;
    background: #B4CCD6;
}